In [1]:
import pandas as pd

# Simulate existing DataFrame (df1) and new DataFrame (df2)
df1 = df
df2 = df_unique

# Function to check if new rows have been added to df2 compared to df1
def check_new_rows(df1, df2):
    if len(df2) > len(df1):
        # Identifying the new rows
        new_rows = df2.iloc[len(df1):]
        return True, new_rows
    else:
        return False, None

# Check for new rows and get them
has_new_rows, new_rows = check_new_rows(df1, df2)

if has_new_rows:
    print("New rows have been added.")
    print("New rows:")
    print(new_rows)
else:
    print("No new rows have been added.")

New rows have been added.
New rows:
   A  B
3  4  d

In [2]:
new_rows-> see loc folders_lowest and take the name to "folder_name" of demcus

   A  B
3  4  d